.main {
  &__head {
    display: flex;
    align-items: center;
    margin-bottom: 30px;

    &-logo {
      margin-right: 8px;
    }
    &-title {
      font-size: 16px;
      font-weight: 600;
    }
    &-text {
      font-size: 12px;
      color: #7b7b7b;
    }
  }

  &__search {
    display: flex;

    & input,
    select {
      width: 100%;
      height: 40px;
      padding: 0 16px;
      outline: none;
      border: 1px solid #e5e5e5;
      -webkit-appearance: none;
      appearance: none;
      color: #bfbfbf;
      background-color: #fff;

      &::placeholder {
        color: #bfbfbf;
      }
    }

    &-text-field {
      flex: 0.5;
      margin-right: 16px;
    }

    &-select {
      flex: 0.25;
      position: relative;

      &::after {
        content: "▼";
        color: #c4c4c4;
        font-size: 12px;
        top: 13px;
        right: 14px;
        position: absolute;
      }
    }
  }
}
