.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;

  & button {
    border: none;
    font-size: 16px;
    background-color: transparent;
  }

  &__item {
    border: 2px solid #666;
    position: relative;
    margin: 0 5px;
    cursor: pointer;

    &--active {
      color: #888;
      pointer-events: none;
    }

    &--disabled {
      color: #999;
      pointer-events: none;
      cursor: not-allowed;
    }
  }

  &__nav {
    margin: 0 10px;
    cursor: pointer;
  }
}
